.navlinks{
    font:20px;
    display:flex;
    align-items: center;
    justify-content:space-around;
    padding:1rem 2rem;
    background-color:#ccc;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
navlinks a{
    color:#ecf0f1;
    text-decoration: none;
    margin-left: 1.5rem;
    font-weight: 500;
    transition: color 0.3s ease;

}